@import "tailwindcss";

:root {
  --color-primary: #06141d;
  --color-secondary: #1b2730;
  --color-accent: #03a9f4;
  --color-light: #d9d9d9;
  --color-light-dark: #a0a0a0;
  --color-red: #ef4444;
}

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-light: var(--color-light);
  --color-light-dark: var(--color-light-dark);
  --color-red: var(--color-red);

  --font-nunito: "Nunito", sans-serif;
}

body {
  @apply font-nunito bg-primary text-light;
}
